.auth-nav{
    &__link {
    fill: var(--secondary-text-color);
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em; 
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  


&__link:hover,
&__link:focus{
    fill: var(--color-of-active);
    color: var(--color-of-active);
}
&__item{
    &:first-child{
        margin-bottom: 32px;
    }
    &:not(:last-child)>.auth-nav__link{
        font-size: 34px;
        line-height: 1.18;
 
        color: #2196f3;
    }

}
&__icon{
    display: none ;
}

}