.btn{
    outline: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    min-width: 200px;

    color: var(--white-color);
    background-color: var(--color-of-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{
    cursor: pointer;
    background-color: var(--main-btn-active);
    }
    &__icon{
    margin-left: 10px;
}
}