.features-list{
    &__item{
        &:not(:first-child){
            margin-top: 30px;
        }
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        background-color:var(--color-btn);
        margin-bottom: 30px;
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 10px;
    }
    &__descr{
        color: var(--secondary-text-color);
        line-height: 1.7;
    }
}
