.features-list{
    display:inline-flex; 
    &__item{
        width: 270px;
        &:not(:nth-of-type(1)){
            margin-left: 30px;
        }
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color:var(--color-btn);
        margin-bottom: 30px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 10px;
    }
    &__descr{
        color: var(--secondary-text-color);
        line-height: 1.7;
    }
}
