.page-header{
    border-bottom: 1px solid var(--border-color-header);
    &__nav{ 
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 90px;
    }
    &__logo-web{
        color: var(--color-of-active);
    }
    &__auth-nav{
        margin-left: auto;
    }
}

