.page-header{
    position: relative;
    border-bottom: 1px solid var(--border-color-header);

    &__auth-nav{
        @media screen and (min-width:768px) {
            margin-left: auto;
        }
    }
    &__container{
        @media screen and (max-width: 767px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 60px;
        }
        @media screen and (min-width: 768px){
            display: flex;
            align-items: center;
            min-height: 80px;
        }
    }
    &__logo-web{
        color: var(--color-of-active);
    }
    &__btn{
         @media screen and (min-width:768px) {
        display: none;  
        }
        display: inline-flex;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,&:focus{
            fill: var(--color-of-active);
        }
    }
}

