.page-header{
    border-bottom: 1px solid var(--border-color-header);
    @media screen and (max-width: 767px){
    padding-top: 16px;
    padding-bottom: 16px;
    }   
    &__logo{
        @media screen and (min-width:768px) {
            margin-right: 88px;
        }
        @media screen and (min-width:1200px) {
            margin-right: 93px;
        }
    }
    &__container{
    .page-header__nav{
        @media screen and (max-width: 767px){
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 60px;
        }
        @media screen and (min-width: 768px){
            display: flex;
            padding-top: 21px;
            padding-bottom: 21px;
            align-items: center;
        }
    }
    }
    &__logo-web{
        color: var(--color-of-active);
    }
    // &__nav{
    //     @media screen and (max-width: 767px){
    //         display: flex;
    //         align-items: center;
    //     }
    //     @media screen and (min-width:768px) {
    //         display: flex;
    //         align-items: center;
    //         z-index: 0;
    //        }
    // }
    &__btn{
         @media screen and (min-width:768px) {
        display: none;  
        }
        display: inline-flex;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,&:focus{
            fill: var(--color-of-active);
        }
    }
    // &__auth-nav{
        
    // }

}

