.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/Студия/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-color: var(--third-background-color);
    max-width: 1600px;
    margin: 0 auto;
    &__title{
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    
        text-transform: uppercase;
        color:var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
    }
    
}
