.page-footer{
    background-color: var(--third-background-color);
    padding: 60px 0;
    &__info{
      @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
      } 
      @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        justify-content: flex-start;
      } 
      
    }
    &__logo{
        display: flex;
        justify-content: center;
        color:var(--white-color);
    }
    &__logo-web{
        color: var(--color-of-active);
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    &__social-link{
      text-align: center;
      @media screen and (max-width:767px) {
        margin-bottom: 60px;
      }
      @media screen and (min-width:768px) {
        margin-left: 165px;
      }
      @media screen and (min-width:1200px) {
        margin-left: 70px;
      }
        
    }
    &__social-list{ 
        margin-top: 20px; 
    }
    &__signup-field{
      align-items: center;
      @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
  }
}
