.page-footer{
    background-color: var(--third-background-color);
    padding: 60px 0;
    &__info{
        display: flex;
        align-items: baseline;
    }
    &__logo{
        color:var(--white-color);
    }
    &__logo-web{
        color: var(--color-of-active);
    }
    &__contacts{
        margin-top: 20px;
    }
    &__social-link{
        margin-left: 70px;
    }
    &__social-list{ 
        margin-top: 20px; 
    }
    &__signup-field{
        margin-left: auto;
    }
}
