:root{
    --main-background-color: e5e5e5;
    --secondary-background-color:#ffffff;
    --third-background-color:#2f303a;
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --white-color:#ffffff;
    --color-of-active:#2196f3;
    --logo-color:#000000;
    --color-btn:#f5f4fa;
    --main-btn-active:#188ce8;
    --border-color-header:#ececec;
    --color-of-icon:#afb1b8;
}